page-home {
  .button {
    background-color: #F93939;
    color: black;
    position: absolute;
    bottom: 0;
  }
  .contentPageV {
    background-color: #64FFDA;
  }
  .form {
    background-color: #f4f4f4;
  }
}
